<mat-button-toggle-group name="characterPage">
	<mat-button-toggle value="profile" checked="true">
		<mat-icon fontIcon="person"></mat-icon>
	</mat-button-toggle>
	<mat-button-toggle value="stats">
		<mat-icon fontIcon="casino"></mat-icon>
	</mat-button-toggle>
	<mat-button-toggle value="inventory">
		<mat-icon fontIcon="backpack"></mat-icon>
	</mat-button-toggle>
	<mat-button-toggle value="magic">
		<mat-icon fontIcon="bolt"></mat-icon>
	</mat-button-toggle>
	<mat-button-toggle value="backstory">
		<mat-icon fontIcon="history_edu"></mat-icon>
	</mat-button-toggle>
	<mat-button-toggle value="notes">
		<mat-icon fontIcon="edit_square"></mat-icon>
	</mat-button-toggle>
</mat-button-toggle-group>