<mat-drawer-container class="full-height">
	<router-outlet></router-outlet>
	<mat-toolbar class="align-bottom center-horizontally" color="primary">
		<section class="align-left">
			<button class="default-margin-horizontal" mat-icon-button routerLink="home" (click)="homeButtonToggle()">
				<mat-icon fontIcon="home"></mat-icon>
			</button>
		</section>
		<section *ngIf="characterSelected | async">
			<mat-button-toggle-group name="characterPage">
				<mat-button-toggle value="profile" checked="true">
					<mat-icon fontIcon="person"></mat-icon>
				</mat-button-toggle>
				<mat-button-toggle value="profile">
					<mat-icon fontIcon="bolt"></mat-icon>
				</mat-button-toggle>
				<mat-button-toggle value="profile">
					<mat-icon fontIcon="history_edu"></mat-icon>
				</mat-button-toggle>
			</mat-button-toggle-group>
		</section>
		<section class="align-right">
			<button class="default-margin-horizontal" mat-icon-button (click)="themeButtonToggle()">
				<mat-icon [fontIcon]="themeIcon"></mat-icon>
			</button>
		</section>
	</mat-toolbar>
</mat-drawer-container>