<mat-drawer-container class="full-height">
	<app-cookie-banner *ngIf="environment.webapp"></app-cookie-banner>

	<router-outlet (activate)="routerOutletActivation()"></router-outlet>

	<mat-toolbar class="align-bottom center-horizontally" color="primary">
		<app-navigation-list class="align-left navigation-list" *ngIf="characterSelected | async"></app-navigation-list>
		<section class="align-left" *ngIf="!(characterSelected | async)">
			<button class="default-margin-horizontal" mat-icon-button routerLink="home">
				<mat-icon fontIcon="home"></mat-icon>
			</button>
		</section>
		<section class="align-left navigation-full-size">
			<button class="default-margin-horizontal" mat-icon-button routerLink="home">
				<mat-icon fontIcon="home"></mat-icon>
			</button>
		</section>
		<section *ngIf="characterSelected | async">
			<app-navigation-buttons class="navigation-full-size"></app-navigation-buttons>
		</section>
		<app-settings-list class="align-right default-margin-horizontal"></app-settings-list>
	</mat-toolbar>
</mat-drawer-container>
