$layout-breakpoint-small: 320px

footer
  align-items: center
  background-color: var(--color-secondary)
  border-radius: 10px 10px 0 0
  display: flex
  float: inline-end
  height: 1rem
  padding: 0 1rem
  width: fit-content

  a, button
    background-color: transparent
    border: none
    color: var(--text-color)
    font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif
    font-size: xx-small
    margin: 0 0.25rem
    outline: none
    padding: 0
    text-decoration: none

    &:hover
      text-decoration: underline

main
  position: relative

ttrpg-settings-menu
  position: absolute
  top: 0
  left: 0