<button class="red mdc-icon-button--reduced-size" mat-icon-button *ngIf="!confirmDeletion" (click)="onDeletionButtonsClick($event, 'delete')">
	<mat-icon fontIcon="delete"></mat-icon>
</button>
<button class="green mdc-icon-button--reduced-size" mat-icon-button *ngIf="confirmDeletion" (click)="onDeletionButtonsClick($event, 'confirm')">
	<mat-icon fontIcon="check"></mat-icon>
</button>
<button class="red mdc-icon-button--reduced-size" mat-icon-button *ngIf="confirmDeletion" (click)="onDeletionButtonsClick($event, 'cancel')">
	<mat-icon fontIcon="close"></mat-icon>
</button>
