<h1>{{ 'HOME.welcome' | translate }}</h1>
<h2>{{ 'HOME.chooseCharacter' | translate }}</h2>

<ul class="character-list">
  @for (character of characters | async ; track character.id) {
    <!-- TODO Searchbar -->
    <li>
      <app-character-card class="character-card" [character]="character" />
    </li>
  }

  @if (!(characters | async) || ((characters | async)!.length <= 0)) {
    <h1 class="mt-5">{{ 'HOME.noCharacterFound' | translate }}</h1>
  } @else {
    <li>
      <app-new-character-card class="character-card" />
    </li>
  }
</ul>