<app-editable-stat *ngFor="let stat of character.profileStats; let index = index" [stat]="stat"
	(valueChangeEvent)="onProfileStatChange(index, $event)" (deleteStatEvent)="deleteStat(index)">
</app-editable-stat>
<span>
	<p>Neuen Stat hinzufügen</p>
	<span class="space-evenly">
		<button mat-mini-fab color="primary" class="small-margin" (click)="addNewStat(false)">
			<mat-icon fontIcon="text_fields"></mat-icon>
		</button>
		<button mat-mini-fab color="primary" class="small-margin" (click)="addNewStat(true)">
			<mat-icon fontIcon="plus_one"></mat-icon>
		</button>
	</span>
</span>