$layout-breakpoint-small: 320px

input
  background-color: var(--background-color-1)
  border: 1px solid var(--background-color-7)
  border-radius: 0.3rem
  color: var(--text-color-1)
  font-size: small
  margin: 0.5rem 0
  outline: none
  width: 100%

:host-context(body.dark)
  input
    background-color: var(--background-color-5)

p
  margin: 0.5rem 0

app-icon
  width: 2rem

  @media (max-width: $layout-breakpoint-small)
    width: 1.5rem

.character-card
  background-color: var(--background-color-2)
  border: 1px solid var(--background-color-5)
  border-radius: 1rem
  max-width: 23rem
  min-height: 6.2rem
  min-width: 15rem
  overflow: hidden
  width: 100%

  @media (max-width: $layout-breakpoint-small)
    margin: 0.25rem 0.25rem
    min-height: none
    min-width: 2rem

.character-data-button-wrapper
  display: flex
  height: 100%
  justify-content: space-between

  @media (max-width: $layout-breakpoint-small)
    flex-direction: column

.character-data-wrapper
  padding: 1rem
  width: 100%

  @media (max-width: $layout-breakpoint-small)
    padding: 0.5rem
    width: auto

.pointerEffects
  &:hover
    background-color: var(--background-color-3)

  &:active
    background-color: var(--background-color-4)

.settingsButton
  align-items: center
  background-color: var(--background-color-5)
  border: none
  display: flex
  justify-content: center
  width: 2.5rem

  &:hover
    background-color: var(--background-color-6)

  &:active
    background-color: var(--background-color-7)

  @media (max-width: $layout-breakpoint-small)
    width: 100%

.settingsWrapper
  display: flex
  flex-direction: column

  @media (max-width: $layout-breakpoint-small)
    align-items: center
