@use '@angular/material' as mat;
@use './styles/palettes.scss' as palette;

@include mat.core();

$ttrpg-primary: mat.define-palette(palette.$ttrpg-purple-palette);
$ttrpg-accent: mat.define-palette(palette.$ttrpg-blue-palette);
$ttrpg-warn: mat.define-palette(mat.$red-palette);

$ttrpg-light-theme: mat.define-light-theme((color: (primary: $ttrpg-primary,
				accent: $ttrpg-accent,
				warn: $ttrpg-warn,
			)));

$ttrpg-dark-theme: mat.define-dark-theme((color: (primary: $ttrpg-primary,
				accent: $ttrpg-accent,
				warn: $ttrpg-warn,
			)));


.lightMode {
	@include mat.all-component-themes($ttrpg-light-theme);
}

.darkMode {
	@include mat.all-component-themes($ttrpg-dark-theme);
}


html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.darkMode,
.lightMode {
	.mat-button-toggle-appearance-standard {
		background-color: mat.get-color-from-palette($ttrpg-primary, 500);
		border-radius: 100%;
	}

	.mat-button-toggle-checked {
		background-color: mat.get-color-from-palette(mat.$grey-palette, 800);
	}

	.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
	.mat-button-toggle-group-appearance-standard,
	.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
		border: none;
	}

	.mat-ripple {
		border-radius: 100%;
	}
}