@use '@angular/material' as mat;
@use './styles/palettes.scss' as palette;

@include mat.core();

$ttrpg-primary: mat.define-palette(palette.$ttrpg-purple-palette);
$ttrpg-accent: mat.define-palette(palette.$ttrpg-blue-palette);
$ttrpg-warn: mat.define-palette(mat.$red-palette);

$ttrpg-light-theme: mat.define-light-theme((color: (primary: $ttrpg-primary,
				accent: $ttrpg-accent,
				warn: $ttrpg-warn,
			)));

$ttrpg-dark-theme: mat.define-dark-theme((color: (primary: $ttrpg-primary,
				accent: $ttrpg-accent,
				warn: $ttrpg-warn,
			)));

@include mat.all-component-themes(mat.define-dark-theme((color: (primary: $ttrpg-primary,
				accent: mat.define-palette(mat.$purple-palette),
				warn: $ttrpg-warn,
			))));

.lightMode {
	@include mat.all-component-colors($ttrpg-light-theme);
}

.darkMode {
	@include mat.all-component-colors($ttrpg-dark-theme);
}


html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu {
	background: none;
	box-shadow: none !important;
	padding-left: 3px !important;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
	min-width: 0 !important;
	width: 60px !important;
}

.mat-mdc-menu-item .mat-icon {
	margin: 0 !important;
}

.darkMode,
.lightMode {

	/// [Common-Theme-Styling/Toggle Button]

	.mat-button-toggle-appearance-standard {
		background-color: mat.get-color-from-palette($ttrpg-primary, 500);
		border-radius: 100%;
	}

	.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
	.mat-button-toggle-group-appearance-standard,
	.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
		border: none;
	}

	.mat-ripple {
		border-radius: 100%;
	}

	/// [Common-Theme-Styling/Input]

	input,
	input:focus {
		background: none;
		border: none;
		outline: none;
	}

	/// [Common-Theme-Styling/Scrollbar]

	::-webkit-scrollbar {
		width: 5px;
		height: 3px;
	}

	::-webkit-scrollbar-track {
		background: none;
	}

	::-webkit-scrollbar-thumb {
		background: mat.get-color-from-palette($ttrpg-primary, 500);
	}

	::-webkit-scrollbar-thumb:hover {
		background: mat.get-color-from-palette($ttrpg-primary, 400);
	}
}

.darkMode {
	/// [Dark-Mode-Styling/Toggle Button]

	.mat-button-toggle-checked {
		background-color: mat.get-color-from-palette(mat.$grey-palette, 800);
	}

	/// [Common-Theme-Styling/Input]

	input {
		color: #fff;
	}

	::selection {
		background: mat.get-color-from-palette(mat.$grey-palette, 600);
	}
}

.lightMode {
	/// [Light-Mode-Styling/Toggle Button]

	.mat-button-toggle-appearance-standard {
		color: #fff;
	}

	.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
		background-color: mat.get-color-from-palette(mat.$grey-palette, 200);
		color: mat.get-color-from-palette($ttrpg-primary, 500);
	}

	/// [Common-Theme-Styling/Input]

	input {
		color: mat.get-color-from-palette(mat.$grey-palette, 800);
	}

	::selection {
		background: mat.get-color-from-palette(mat.$grey-palette, 300);
	}
}