@use '@angular/material' as mat;
@use './styles/palettes.scss' as palette;

@include mat.core();


$ttrpg-primary: mat.define-palette(palette.$ttrpg-purple-palette);
$ttrpg-accent: mat.define-palette(palette.$ttrpg-blue-palette);
$ttrpg-warn: mat.define-palette(mat.$red-palette);

$ttrpg-theme: mat.define-dark-theme((color: (primary: $ttrpg-primary,
				accent: $ttrpg-accent,
				warn: $ttrpg-warn,
			)));

@include mat.all-component-themes($ttrpg-theme);


html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}