@use '@angular/material' as mat

.space-evenly
	display: flex
	justify-content: space-evenly

.space-between
	display: flex
	justify-content: space-between

.center-horizontally
	display: flex
	justify-content: center

.center-vertically
	display: flex
	align-items: center

.float-right
	display: block
	float: right

.full-height
	height: 100%

.full-width
	width: 100%

.show-child-on-hover .hidden-child
	visibility: hidden

.show-child-on-hover:hover .hidden-child
	visibility: visible

.default-margin
	margin: 20px

.default-margin-vertical
	margin: 20px 0

.default-margin-horizontal
	margin-left: 0 20px

.default-margin-top
	margin-top: 20px

.default-margin-right
	margin-right: 20px

.default-margin-bottom
	margin-bottom: 20px

.default-margin-left
	margin-left: 20px

.less-important-text
	color: mat.get-color-from-palette(mat.$gray-palette, 500)
