<h1 class="welcome-title center-horizontally default-margin">Wilkommen zu Gragon's TTRPG Tool</h1>

<section class="center-horizontally">
	<mat-action-list class="characterSelectionList">
		<div mat-subheader class="center-items-vertically space-between">
			<h2>Deine Charaktere</h2>
			<button class="newCharacterFab" mat-mini-fab color="primary" (click)="createNewCharacter()">
				<mat-icon fontIcon="add"></mat-icon>
			</button>
		</div>
		<mat-divider></mat-divider>

		<div class="listElements">
			<app-character-list-element [character]="character"
				*ngFor="let character of characters | async"></app-character-list-element>
			<button mat-list-item (click)="createNewCharacter()">
				<span class="center-items-vertically">
					<mat-icon class="default-margin-right" fontIcon="add"></mat-icon>
					Neuer Charakter
				</span>
			</button>
		</div>
	</mat-action-list>
</section>