<div class="stat-item default-margin-vertical" (mouseleave)="onDeleteButtonLeave()">
	<span matListItemTitle>
		<!--
			<app-delete-profile-stat-button (deleteStatEvent)="emitDeleteStatEvent()"></app-delete-profile-stat-button>
				-->
		<input class="profile-input-value" [type]="stat.isNumberStat ? 'number' : 'text'" (change)="emitValueChange()"
			[(ngModel)]="stat.value">
		<span *ngIf="stat.isNumberStat">
			<button mat-icon-button class="mdc-icon-button--reduced-size" disableRipple="true"
				(click)="onNumberChangeButton(1)">
				<mat-icon class="material-icons-outlined" fontIcon="add"></mat-icon>
			</button>
			<button mat-icon-button class="mdc-icon-button--reduced-size" disableRipple="true"
				(click)="onNumberChangeButton(-1)">
				<mat-icon class="material-icons-outlined" fontIcon="remove"></mat-icon>
			</button>
		</span>
	</span>
	<span matListItemLine>
		<input class="profile-input-title" type="text" (change)="emitValueChange()" [(ngModel)]="stat.statName">
	</span>
</div>