.dark-medium-contrast {
  --color-primary: rgb(144 212 245);
  --color-surface-tint: rgb(140 207 240);
  --color-on-primary: rgb(0 25 35);
  --color-primary-container: rgb(85 153 184);
  --color-on-primary-container: rgb(0 0 0);
  --color-secondary: rgb(240 185 241);
  --color-on-secondary: rgb(43 4 49);
  --color-secondary-container: rgb(178 128 180);
  --color-on-secondary-container: rgb(0 0 0);
  --color-tertiary: rgb(201 197 255);
  --color-on-tertiary: rgb(17 12 69);
  --color-tertiary-container: rgb(142 138 199);
  --color-on-tertiary-container: rgb(0 0 0);
  --color-error: rgb(255 186 177);
  --color-on-error: rgb(55 0 1);
  --color-error-container: rgb(255 84 73);
  --color-on-error-container: rgb(0 0 0);
  --color-background: rgb(15 20 23);
  --color-on-background: rgb(223 227 231);
  --color-surface: rgb(15 20 23);
  --color-on-surface: rgb(247 251 255);
  --color-surface-variant: rgb(64 72 76);
  --color-on-surface-variant: rgb(196 204 209);
  --color-outline: rgb(156 164 169);
  --color-outline-variant: rgb(125 132 137);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(223 227 231);
  --color-inverse-on-surface: rgb(38 43 46);
  --color-inverse-primary: rgb(0 78 103);
  --color-primary-fixed: rgb(191 232 255);
  --color-on-primary-fixed: rgb(0 19 28);
  --color-primary-fixed-dim: rgb(140 207 240);
  --color-on-primary-fixed-variant: rgb(0 59 79);
  --color-secondary-fixed: rgb(255 214 253);
  --color-on-secondary-fixed: rgb(37 0 43);
  --color-secondary-fixed-dim: rgb(236 181 236);
  --color-on-secondary-fixed-variant: rgb(79 38 84);
  --color-tertiary-fixed: rgb(227 223 255);
  --color-on-tertiary-fixed: rgb(12 5 64);
  --color-tertiary-fixed-dim: rgb(196 192 255);
  --color-on-tertiary-fixed-variant: rgb(50 47 102);
  --color-surface-dim: rgb(15 20 23);
  --color-surface-bright: rgb(53 58 61);
  --color-surface-container-lowest: rgb(10 15 18);
  --color-surface-container-low: rgb(23 28 31);
  --color-surface-container: rgb(27 32 35);
  --color-surface-container-high: rgb(38 43 46);
  --color-surface-container-highest: rgb(48 53 56);
}
