.dark-high-contrast {
  --color-primary: rgb(247 251 255);
  --color-surface-tint: rgb(140 207 240);
  --color-on-primary: rgb(0 0 0);
  --color-primary-container: rgb(144 212 245);
  --color-on-primary-container: rgb(0 0 0);
  --color-secondary: rgb(255 249 250);
  --color-on-secondary: rgb(0 0 0);
  --color-secondary-container: rgb(240 185 241);
  --color-on-secondary-container: rgb(0 0 0);
  --color-tertiary: rgb(254 249 255);
  --color-on-tertiary: rgb(0 0 0);
  --color-tertiary-container: rgb(201 197 255);
  --color-on-tertiary-container: rgb(0 0 0);
  --color-error: rgb(255 249 249);
  --color-on-error: rgb(0 0 0);
  --color-error-container: rgb(255 186 177);
  --color-on-error-container: rgb(0 0 0);
  --color-background: rgb(15 20 23);
  --color-on-background: rgb(223 227 231);
  --color-surface: rgb(15 20 23);
  --color-on-surface: rgb(255 255 255);
  --color-surface-variant: rgb(64 72 76);
  --color-on-surface-variant: rgb(247 251 255);
  --color-outline: rgb(196 204 209);
  --color-outline-variant: rgb(196 204 209);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(223 227 231);
  --color-inverse-on-surface: rgb(0 0 0);
  --color-inverse-primary: rgb(0 46 62);
  --color-primary-fixed: rgb(202 236 255);
  --color-on-primary-fixed: rgb(0 0 0);
  --color-primary-fixed-dim: rgb(144 212 245);
  --color-on-primary-fixed-variant: rgb(0 25 35);
  --color-secondary-fixed: rgb(255 220 252);
  --color-on-secondary-fixed: rgb(0 0 0);
  --color-secondary-fixed-dim: rgb(240 185 241);
  --color-on-secondary-fixed-variant: rgb(43 4 49);
  --color-tertiary-fixed: rgb(232 228 255);
  --color-on-tertiary-fixed: rgb(0 0 0);
  --color-tertiary-fixed-dim: rgb(201 197 255);
  --color-on-tertiary-fixed-variant: rgb(17 12 69);
  --color-surface-dim: rgb(15 20 23);
  --color-surface-bright: rgb(53 58 61);
  --color-surface-container-lowest: rgb(10 15 18);
  --color-surface-container-low: rgb(23 28 31);
  --color-surface-container: rgb(27 32 35);
  --color-surface-container-high: rgb(38 43 46);
  --color-surface-container-highest: rgb(48 53 56);
}
