<button class="show-child-on-hover" mat-list-item (click)="onCharacterButtonToggle()"
	(mouseleave)="onCharacterButtonLeave()" routerLink="{{'../profile/' + character.id}}">
	<span class="center-items-vertically space-between">
		<span class="long-character-text">
			{{character.name.value | truncate}}
			<span *ngIf="character.lastOpened" class="less-important-text last-opened">
				Zuletzt geöffnet: {{character.lastOpened | ttrpgDateFormat}}
			</span>
		</span>
		<span class="short-character-text">{{character.name.value | truncate : 10}}</span>
		<app-delete-character-button class="hidden-child" [character]="character"></app-delete-character-button>
	</span>
</button>