<button class="show-child-on-hover" mat-list-item (mouseleave)="onCharacterButtonLeave()"
	routerLink="{{'../profile/' + character.id}}">
	<span class="center-vertically space-between">
		<span>
			{{character.name | truncate}}
			<span *ngIf="character.lastOpened" class="less-important-text">
				Zuletzt geöffnet: {{character.lastOpened | ttrpgDateFormat}}
			</span>
		</span>
		<app-delete-character-button class="hidden-child" [character]="character"></app-delete-character-button>
	</span>
</button>