$ttrpg-purple-palette: (
	50: #efe7fa,
	100: #d6c5f3,
	200: #ba9eeb,
	300: #9e75e4,
	400: #8855dd,
	500: #7134d6,
	600: #662fd0,
	700: #5726c7,
	800: #4920c0,
	900: #2d0fb6,
	contrast: (50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white)
);

$ttrpg-blue-palette: (
	50: #e8e9fa,
	100: #c5c8f3,
	200: #9ea5eb,
	300: #7582e3,
	400: #5565dd,
	500: #3148d5,
	600: #2c40ca,
	700: #2135be,
	800: #152ab3,
	900: #04139b,
	contrast: (50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white)
);