button
  position: relative
  display: flex
  justify-content: center
  align-items: center
  border: none
  outline: none
  background-color: inherit
  font-size: smaller

  &:hover .overlay
    opacity: .4
    background-color: var(--color-surface-container-highest)

  &:active .overlay
    background-color: var(--color-surface-container)

  & > :not(.overlay)
    z-index: 1
  
.overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%
  opacity: 0

ttrpg-icon
  height: 1.5rem